.x {
  position: relative;
  width:fit-content;
  height: auto;
  background-color: black;
  color: wheat;
  
}
.face-box{
  position: absolute;
  border: solid 2px blue;
  display:inline-block;
  z-index: 1;
  margin: auto;
  cursor: pointer;
}
.scroll{
  position: relative;
  width: fit-content;
  overflow-x: auto;
  height: auto;
}

.facedetection {
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

#image{
  max-width: 400px;
  height: auto;
}
@media only screen and (max-width:600px) {
  /* .x{
    width: 300px;
    /* overflow-x: auto; */
  
}
